.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.visited{
    background-color: bisque;
}
.non-visited{
    background-color: rgb(210, 231, 224);
}
.flag-container{
    width: 10px;
}